.card {
    width: 75%;
    margin-top: 120px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.navbar {
    height: 100px;
}

.navbar * {
    color: white;
}

img {
    height: 40vh;
    object-fit: contain;
}